/* Ajuste de todo para quitar margenes predeterminadas */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Fuentes de la pagina web */

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
}



/* Encabezado (Barra blanca en la parte superior de la pagina web)*/

header {
    width: 100%;
    height: 80px;
    background: #fff;
    display: flex;
    justify-content: center;
}

#btn-menu {
    display: none;
}

header label {
    display: none;
    width: 30px;
    height: 30px;
    padding: 10px;
}

header .logo {
    height: 100%;
}

header label:hover {
    cursor: pointer;
}

.menu ul {
    margin: 0;
    list-style: none;
    padding: 0;
    display: flex;
}

.menu li a {
    display: block;
    padding: 30px 10px;
    text-decoration: none;
    color: rgba(0, 0, 0, .6);
}


.header1 .textos-header {
    display: flex;
    height: 430px;
    width: 100%;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}




/* Portada */

.header1 {
    width: 100%;
    height: 680px;
    /*background: ;*/
    background: -webkit-linear-gradient(to right, hsla(340, 95%, 50%, 0.705), hsla(317, 45%, 52%, 0.603)), url(../Img/Portada.jpg);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, hsla(340, 95%, 50%, 0.288), hsla(317, 45%, 52%, 0.603)), url(../img/portada.jpg);
    background-size: cover;
    background-attachment: fixed;
    position: relative;
}

/* Texto del titulo de la protada */

.textos-header h1 {
    font-size: 50px;
    color: #fff;
}

/* Contenido de la partada (Descripción de Viena) */

.textos-header p {
    font-size: 20px;
    font-weight: 300;
    color: #fff;
    width: 75%;
}

/* Gastronomia */

/* Fondo de la sección */

.gastronomia {
    background: #f2f2f2;
    padding-bottom: 30px;
}

.contenedor1 {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.titulo {
    text-align: center;
    font-size: 30px;
    margin-bottom: 60px;
}


.gastronomia-cont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

}

.articulo {
    width: 20%;
    text-align: center;
}

/* Imagenes de gastronomia */

.articulo img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.articulo h3 {
    margin: 20px 0;
}

.articulo p {
    font-weight: 300;
    text-align: justify;
}

/* Beneficios */

/* Color de fondo */

.beneficios {
    background: #7c18a3;
    
}

/* Disposición de fondo*/

.conten-beneficios {
    display: flex;
    justify-content: space-evenly;
}

/* Cuadros de cada baneficio */

.vivir {
    width: 60%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.vivir .beneficio {
    width: 45%;
    background: rgba(255, 255, 255, .2);
    color: #fff;
    border-radius: 10px;
    padding: 40px 35px;
    margin-bottom: 20px;
}

.vivir .beneficio h4 {
    color: #fff;
    font-size: 40px;
    font-weight: 500;
    margin-bottom: 20px;
}

.vivir .beneficio p {
    color: #f2f5fc;
    font-weight: 300;
}

/* Texto de beneficios */
.beneficios-text {
    width: 37%;
}

.beneficios-text h4 {
    color: #fff;
    font-size: 40px;
    font-weight: 300;
}

.beneficios-text p {
    color: #fff;
    font-weight: 200;
    margin: 20px 0;
}


/* Ubicación */

.contenedor {
    padding: 60px 0;
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
}

.ubicacion {
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ubicacion>img {
    width: 50%;
}

.text-ubicacion {
    margin: 0 0 0 30px;
}

.text-ubicacion p {
    font-weight: 100;
    margin-top: 14px;
    color: #5d6678;
    text-align: justify;
    padding: 0 30px 0 0;
}

.text-ubicacion a {
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: #c125ff;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(88, 0, 129, 0.46);
}

/* pie de pagina */

/* fondo */

footer {
    background: #414141;
    padding: 60px 0 30px 0;
    margin: auto;
    overflow: hidden;
}

/* Texto */

.contenedor-footer {
    display: flex;
    width: 90%;
    justify-content: space-evenly;
    margin: auto;
    padding-bottom: 50px;
    border-bottom: 1px solid #cccccc;
}

.contenedor-foo {
    text-align: center;
}

.contenedor-foo h4 {
    color: #fff;
    border-bottom: 3px solid #af20d3;
    padding-bottom: 4px;
    margin-bottom: 10px;
    text-align: center;
}

.contenedor-foo p {
    color: #ccc;
    text-align: center;
}

.titulo-final {
    text-align: center;
    font-size: 20px;
    margin: 20px 0 0 0;
    color: #9e9797;
}

/* Ubicación */

.ubicacion1 {
    width: 90%;
    max-width: 1000px;
    margin: auto;
    overflow: hidden;
    padding: 60px 0;
    height: 600px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.ubicacion1>img {
    width: 60%;
}

.text-ubicacion h1 {
    margin: 0 0 0 0;
    font-size: 30px;
}

.text-ubicacion p {
    font-weight: 100;
    margin-top: 14px;
    color: #5D6678;
}

.ubicacion1 a {
    margin: 28px 0 0 0;
    width: 130px;
    display: inline-block;
    background: #c125ff;
    text-align: center;
    color: #fff;
    padding: 12px 0;
    text-decoration: none;
    font-weight: 400;
    text-transform: uppercase;
    font-size: 14px;
    border-radius: 5px;
    box-shadow: 0 8px 32px rgba(0, 65, 129, 0.46);
}

/* Galeria */

.lugares {
    background: #f2f2f2;
}

.galeria-lugares {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.imagen-lugar {
    width: 24%;
    margin-bottom: 10px;
    height: 250px;
    overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, .6);
}

.imagen-lugar>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.hover-galeria {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    transform: scale(0);
    background: hsla(317, 45%, 52%, 0.603);
    transition: .5s;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.hover-galeria p {
    color: #fff;
    font-size: 20px;
    font-weight: 400;
}

.imagen-lugar:hover .hover-galeria {
    transform: scale(1);
}

/* Su gente */

.contenedor-sugente {
    display: flex;
    justify-content: space-evenly;
}

.imagen-sugente {
    width: 45%;
}

.sugente .contenido-texto {
    width: 45%;
}

.contenido-texto h3 {
    margin-bottom: 15px;
    padding: 0 0 0 15px;
}

.contenido-texto p {
    padding: 0 0 30px 15px;
    font-weight: 300;
    text-align: justify;
}

/* Personajes famosos */

.cards {
    display: flex;
    justify-content: space-evenly;
    padding: 0 0 50px 0;
}

.cards .card {
    background: #921dc0;
    display: flex;
    width: 46%;
    height: 200px;
    align-items: center;
    justify-content: space-evenly;
    border-radius: 5px;
    box-shadow: 0 0 60px 0 rgba(0, 0, 0, .6);
}

.cards .card img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border: 3px solid #fff;
    border-radius: 50%;
    display: block;
}

.cards .card>.contenido-texto-card {
    width: 60%;
    color: #fff;
}

.cards .card>.contenido-texto-card p {
    font-weight: 300;
    padding-top: 5px;
    font-size: small;
    text-align: justify;
}

/*Eventos*/

.events {
    background: #f2f2f2;
}

.contenedor-articulo {
    display: flex;
    flex-wrap: wrap;
    margin-top: 60px;
    justify-content: space-around;
}

.event-articulo {
    width: 29%;
    background: #fff;
    margin-bottom: 30px;
    border-radius: 10px;
    padding: 45px 30px 60px 30px;
}

.event-articulo>img {
    display: inline-block;
    width: 230px;
    height: 230px;
    border-radius: 50%;
    box-shadow: 0 8px 32px rgba(0, 65, 129, 0.46);
}

.event-articulo h3 {
    font-size: 24px;
    margin-top: 30px;
}

.event-articulo p {
    font-weight: 100;
    color: #5D6678;
    margin-top: 15px;
    padding-bottom: 20px;
    text-align: justify;
}

/* Historia */

/* Atiguedad */

.anti {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
    align-items: center;
}

.imagen-anti {
    width: 55%;
}

.anti-text h3 {
    padding: 0 0 15px 0;

}

.anti-text p {
    text-align: justify;
    width: 93%;
    padding: 0 0 0 0;
}

/* Edad media */

.edadmedia {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
    align-items: center;
}


.imagen-edadmedia {
    width: 55%;
}

.edadmedia-text h3 {
    padding: 0 0 15px 30px;
}

.edadmedia-text p {
    text-align: justify;
    width: 93%;
    padding: 0 0 0 30px;
}

/* Edad moderna */

.edadmoderna {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
    align-items: center;
}

.imagen-edadmoderna {
    width: 55%;
}

.edadmoderna-text h3 {
    padding: 0 0 15px 0;

}

.edadmoderna-text p {
    text-align: justify;
    width: 93%;
    padding: 0 0 0 0;
}

/* Etapa napoleonica */

.etapanapoleonica {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
    align-items: center;
}


.imagen-etapanapoleonica {
    width: 55%;
}

.etapanapoleonica-text h3 {
    padding: 0 0 15px 30px;
}

.etapanapoleonica-text p {
    text-align: justify;
    width: 93%;
    padding: 0 0 0 30px;
}

/* Imperio austroungaro */

.imperio {
    justify-content: space-evenly;
    padding-bottom: 100px;
    align-items: center;
}

.imagen-imperio {
    width: 100%;

}

.imperio-text h3 {
    padding: 0 0 15px 15px;

}

.imperio-text p {
    text-align: justify;
    width: 100%;
    padding: 0 15px 30px 15px;
}

/* Republica de austria */

.republica {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
    align-items: center;
}


.imagen-republica {
    width: 55%;
}

.republica-text h3 {
    padding: 0 0 15px 30px;
}

.republica-text p {
    text-align: justify;
    width: 93%;
    padding: 0 0 0 30px;
}

/* III Reich */

.reich {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
    align-items: center;
}

.imagen-reich {
    width: 55%;
}

.reich-text h3 {
    padding: 0 0 15px 0;

}

.reich-text p {
    text-align: justify;
    width: 93%;
    padding: 0 0 0 0;
}

/* Posguerra*/

.posguerra {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 100px;
    align-items: center;
}

.imagen-posguerra {
    width: 55%;
}

.posguerra-text h3 {
    padding: 0 0 15px 30px;
}

.posguerra-text p {
    text-align: justify;
    width: 93%;
    padding: 0 0 0 30px;
}

/* Creditos */

.enlace {
    text-decoration: none;
}

.imagenes {
    margin-bottom: 15px;
}

.imagenes ul {
    margin-bottom: 15px;
}

.imagenes li {
    margin-top: 5px;
}

.contenido {
    margin-top: 20px;
}

.contenido ul {
    margin-bottom: 15px;
}

.contenido li {
    margin-top: 5px;
}

.mapa-nav{
    text-align: center;
}

/* Responsive cuando la pantalla mide menos de 800 px y mas de 480 px*/

@media screen and (max-width:800px) {

/* Textos del titulo de la portada */

.textos-header h1 {
    font-size: 60px;
}

.textos-header p {
    font-size: 20px
}

/* Gastronomia */

/* Imagenes de gastronomia */

.articulo img {
    width: 150px;
    height: 150px;
}

/* Beneficios */

.vivir .beneficio h4 {
    font-size: 30px;
}

.beneficios-text p {
    font-size: 18px;
}

/* Ubicación */

/* Galeria  */

.imagen-lugar {
    height: 200px;
}

/* Su gente */

/* Personas famosas */

.cards .card img {
    width: 100px;
    height: 100px;
}

.cards .card>.contenido-texto-card {
    width: 50%;
}

/* Eventos */

.event-articulo {
    width: 45%;
}

.event-articulo>img {
    margin: 5%;
    width: 90%;
}

/* mapa de navegación */

.mapa-nav img{
    align-items: center;
    width: 90%;

}

}

/* Responsive Cuando la pantalla mide menos de 480 px */

@media screen and (max-width:480px) {

    /* Menu desplegable */


    header label {
        display: block;
        width: 50px;
        height: 40px;
        position: absolute;
        left: 15px;
        top: 15px;
    }

    .menu {
        position: fixed;
        background: #fff;
        z-index: 30;
        width: 100%;
        margin-left: -250%;
        margin-top: 80px;
        transition: 0.5s;
    }

    .menu ul {
        flex-direction: column;
    }

    .menu li {
        border-top: 1px solid #5D6678;
    }

    #btn-menu:checked~.menu {
        margin: 80px 0;

    }

    .menu li a {
        text-align: center;
    }

    /* Textos del titulo de la portada */

    .textos-header h1 {
        font-size: 60px;
    }

    .textos-header p {
        font-size: 20px
    }


    /* Gastronomia */

    .gastronomia-cont {
        flex-direction: column;
        justify-content: center;
        text-align: center;
    }

    .gastronomia-cont .articulo {
        width: 90%;
        text-align: center;
        justify-content: center;
        margin-bottom: 60px;
    }

    .gastronomia-articulo:nth-child(1),
    .gastronomia-articulo:nth-child(2) {
        margin-bottom: 60px;
    }

    .gastronomia-cont img {
        width: 200px;
        height: 200px;
        margin-left: 15%;
    }

    /* Beneficios */

    .conten-beneficios {
        flex-direction: column-reverse;
    }

    .beneficios-text a {
        margin-bottom: 60px;
    }

    .vivir {
        width: 100%;
    }

    .beneficios-text {
        width: 100%;
        padding: 30px;
    }

    .vivir .beneficio {
        width: 95%;
    }

    .beneficios-text h4 {
        padding: 0;
        font-size: 35px;
    }

    /* Ubicación */

    .ubicacion {
        flex-direction: column;
    }

    .text-ubicacion {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin: 0;

    }

    .text-ubicacion h1 {
        text-align: center;
    }

    .text-ubicacion p {
        margin: 10% 0 0 5%;

    }

    .text-ubicacion a {
        margin: 10% 0 0 11%;
    }

    .ubicacion>img {
        width: 90%;
    }

    /* Fooder */

    .contenedor-footer {
        flex-direction: column;
        border: none;
    }

    .contenedor-foo {
        margin-bottom: 20px;
        text-align: center;
    }

    .contenedor-foo h4 {
        border: none;
    }

    .contenedor-foo p {
        color: #ccc;
        border-bottom: 1px solid #f2f2f2;
        padding: 20px;
    }

    .titulo-final {
        font-size: 19px;
    }

    /* Ubicación  */

    .ubicacion1 {
        flex-direction: column;
        height: 650px;
    }

    .ubicacion1 img {
        width: 90%;
        margin: 10%;
        margin-top: 40px;
    }

    .galeria-lugares {
        flex-direction: column;

    }

    .galeria-lugares .imagen-lugar {
        width: 100%;
    }

    /* Su gente */

    .contenedor-sugente {
        flex-direction: column;

    }

    .sugente .contenido-texto {
        width: 95%;
    }

    .contenedor-sugente img {
        width: 90%;
        margin: 5%;
    }

    .cards {
        flex-direction: column;
        align-items: center;
    }

    .cards .card {
        width: 90%;
        flex-direction: column;
        height: 400px;
        margin: 10px;
    }

    .cards .card img {
        width: 200px;
        height: 200px;
    }

    .cards .card>.contenido-texto-card {
        width: 80%;
        text-align: center;
    }

    .cards .card>.contenido-texto-card h4 {
        padding: 0 0 10px 0;
    }

    .cards .card>.contenido-texto-card p {
        font-size: 15px;
    }


    /* Eventos */

    .events {
        padding: 30px 0 0 0;
    }

    .contenedor-articulo {
        flex-direction: column;
    }

    .event-articulo {
        width: 100%;
        align-items: center;
        justify-content: space-evenly;
        padding: 13%;
    }

    .contenedor-articulo .event-articulo img {
        width: 230px;
        height: 230px;
        object-fit: cover;
        display: block;
    }

    /*Historia */

    /*Historia */

    .anti {
        flex-direction: column;
    }

    .imagen-anti {
        margin: 10% 0 0 0;
        width: 90%;
    }

    .anti-text h3 {
        padding: 0 0 15px 15px;
    }

    .anti-text p {
        width: 100%;
        padding: 0 15px;
    }

    /* Edad media */
    .edadmedia {
        flex-direction: column-reverse;
    }

    .imagen-edadmedia {
        width: 90%;
        margin: 10% 0 0 0;
    }

    .edadmedia-text h3 {
        padding: 0 0 15px 5%;
    }

    .edadmedia-text p {
        width: 100%;
        padding: 0 15px;
    }

    /* Edad moderna */

    .edadmoderna {
        flex-direction: column;
    }

    .imagen-edadmoderna {
        width: 90%;
        margin: 10%;
    }

    .edadmoderna-text h3 {
        padding: 0 0 15px 5%;
    }

    .edadmoderna-text p {
        width: 100%;
        padding: 0 15px;
    }

    /* Etapa napoleonica */

    .etapanapoleonica {
        flex-direction: column-reverse;
    }

    .imagen-etapanapoleonica {
        width: 90%;
        margin: 10%;
    }

    .etapanapoleonica-text h3 {
        padding: 0 0 15px 5%;
    }

    .etapanapoleonica-text p {
        width: 100%;
        padding: 0 15px;
    }

    /* Imperio austroungaro */

    .imperio {
        flex-direction: column;
    }

    .imagen-imperio {
        width: 90%;
        margin: 0 5%;
    }

    .imperio-text h3 {
        padding: 0 0 15px 5%;
    }

    /* Republica de austria */

    .republica {
        flex-direction: column-reverse;
    }

    .imagen-republica {
        width: 90%;
        margin: 10% 0 0 0;
    }

    .republica-text h3 {
        padding: 0 0 15px 5%;
    }

    .republica-text p {
        width: 100%;
        padding: 0 15px;
    }

    /* III Reich */

    .reich {
        flex-direction: column;
    }

    .imagen-reich {
        width: 90%;
        margin: 10% 0 0 0;
    }

    .reich-text h3 {
        padding: 0 0 15px 5%;
    }

    .reich-text p {
        width: 100%;
        padding: 0 15px;
    }

    /* Posguerra */

    .posguerra {
        flex-direction: column-reverse;
    }

    .imagen-posguerra {
        width: 90%;
        margin: 10% 0 0 0;
    }

    .posguerra-text h3 {
        padding: 0 0 15px 5%;
    }

    .posguerra-text p {
        width: 100%;
        padding: 0 15px;
    }







}